<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/mobile.css">
    <title>Projeto Espeto Bar</title>
    <link rel="shortcut icon" href="espetoLogo.jpeg" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    
    
</head>
<body>

<header>
    <div class="container">

        <div class="content-header">
            <img src="img/espetoLogo.png" width="200px">

            <button class="open-nav">
            <span class="line line_1"></span>
            <span class="line line_2"></span>
            <span class="line line_3"></span>
            </button>
                
        <nav class="menu">
            <ul class="nav-links">  
                    <li><a href="/">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>HOME</a>
                    
                    </li>          
                    <li><a href="#about">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>SOBRE</a>
                    </li>          
                    <li><a href="#serv">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>CARDÁPIO</a>
                    </li>   
                    <li><a href="#local">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>LOCALIZAÇÃO</a>
                    </li>          
                    <li><a href="/telacontato">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>CONTATO</a>
                    </li>          
                  </ul>
             </nav>
        </div>
    </div>
</header>
    

        <div class="mp_banner">
        <div>
            <video src="video/animação.mp4" autoplay="" muted="" > </video><div><br><br><br><br><br>
            <div><h2 class="titulo"><span>Esquina</span>  ESPETO BAR</h2></div><br><br><br><br><br><br><br><br>
 
        <div class="contaniner_bemvindo" id="about">
            <div class="col_bemVindo">
                <p class="BemVindo">Bem Vindo</p>
                <p class="subBemvindo">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                     sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </p>
                <p class="contentBemVindo">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                     sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                       Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <a href="#" class="saibaMais">Saiba Mais</a>
            </div>
            <div class="col_img_bemVindo">
               <div class="img_bemvindo">
                   <img src="img/drinks2.jpg" alt="" width="40%">
               </div>
            </div>
        </div>
        <div class="banner01">
            <img src="img/banner.jpg" alt="" width="100%">
        </div>
        
        <div class="container_produtos">
            <div class="title_prod">
                <p>Conheça Nossos Produtos</p>
            </div>
            <div class="cards_produtos">
                <div class="col_produto">
                    <div class="card_produto">
                        <img src="img/produto.png" alt="" width="100%">
                        <p>Espeto Frango</p>
                    </div>
                    <div class="card_produto">
                        <img src="img/produto.png" alt="" width="100%">
                        <p>Espeto Frango</p>
                    </div>
                </div> 
                <div class="col_produto">
                    <div class="card_produto">
                        <img src="img/produto.png" alt="" width="100%">
                        <p>Espeto Frango</p>
                    </div>
                    <div class="card_produto">
                        <img src="img/produto.png" alt="" width="100%">
                        <p>Espeto Frango</p>
                    </div>
                </div>        
            </div>
        </div>
        <div class="container_servicos">
            <div class="title_servicos">
                <p>Nossos Serviços</p>
            </div>
            <div class="container_serv">
                <div class="col_servico">
                    <img src="http://oldstory.ancorathemes.com/wp-content/uploads/2016/02/home2_features1-740x652.jpg" alt="" width="60%">
                    <div class="content_servico">
                        <p>> Melhores Bebidas</p>
                    </div>
                </div>
                <div class="col_servico">
                    <img src="http://oldstory.ancorathemes.com/wp-content/uploads/2016/02/home2_features2-740x652.jpg" alt="" width="60%">
                    <div class="content_servico">
                        <p>> Melhores Comidas</p>
                    </div>
                </div>
                <div class="col_servico">
                    <img src="http://oldstory.ancorathemes.com/wp-content/uploads/2016/02/home2_features3-740x652.jpg" alt="" width="60%">
                    <div class="content_servico">
                        <p>> Melhor Ambiente</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container_cardapio" id="serv">

                <div class="tittle_cardapio">
                    <p>Confira Nosso Cardapio</p>
                </div>

                <div class="subTittle_cardapio">

                    <div class="sub_col_card">
                        Comidas
                    </div>
                    <div class="sub_col_card">
                        Bebidas
                    </div>

                </div>
            
            <div class="cont_cardapio">

                <div class="col_cardapio">

                    <div class="info_card">
                        Espeto de Frango
                    </div>
                    <div class="price_card">
                        R$ 14,90
                    </div>

                </div>
                <div class="col_cardapio">

                    <div class="info_card">
                        Espeto de Frango
                    </div>
                    <div class="price_card">
                        R$ 14,90
                    </div>

                </div>

            </div>

            <div class="cont_cardapio">

                <div class="col_cardapio">

                    <div class="info_card">
                        Espeto de Frango
                    </div>
                    <div class="price_card">
                        R$ 14,90
                    </div>
                    
                </div>
                <div class="col_cardapio">

                    <div class="info_card">
                        Espeto de Frango
                    </div>
                    <div class="price_card">
                        R$ 14,90
                    </div>

                </div>

            </div>

            <div class="cont_cardapio">

                <div class="col_cardapio">

                    <div class="info_card">
                        Espeto de Frango
                    </div>
                    <div class="price_card">
                        R$ 14,90
                    </div>
                    
                </div>
                <div class="col_cardapio">

                    <div class="info_card">
                        Espeto de Frango
                    </div>
                    <div class="price_card">
                        R$ 14,90
                    </div>

                </div>

            </div>

            <div class="cont_cardapio">

                <div class="col_cardapio">

                    <div class="info_card">
                        Espeto de Frango
                    </div>
                    <div class="price_card">
                        R$ 14,90
                    </div>
                    
                </div>
                <div class="col_cardapio">

                    <div class="info_card">
                        Espeto de Frango
                    </div>
                    <div class="price_card">
                        R$ 14,90
                    </div>

                </div>

            </div>

            <div class="cont_cardapio">            
                
                <div class="col_cardapio">

                    <div class="info_card">
                        Espeto de Frango
                    </div>
                    <div class="price_card">
                        R$ 14,90
                    </div>
                    
                </div>
                <div class="col_cardapio">

                    <div class="info_card">
                        Espeto de Frango
                    </div>
                    <div class="price_card">
                        R$ 14,90
                    </div>

                </div>

            </div>

            <div class="container_sabiamais">

                <div class="button_saibamais">
                    <a href="#">Saiba Mais</a>
                </div>

            </div>

        </div>
        
        <div class="container_localizacao" id="local">
            <div class="col_map_content">
                <h3>Localização</h3>
                <p>Cruz das Almas</p>
                <p>Rua Professor Mata Pereira</p>
                <p>Bahia</p>
                <p>(75) 98851-1652</p>
            </div>
            <div class="col_map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d972.1480094880669!2d-38.4249864!3d-12.9339217!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x716109906351d23%3A0x750b1127b84df9e1!2sEstrada%20da%20Muri%C3%A7oca%2C%201211!5e0!3m2!1spt-BR!2sbr!4v1593131840464!5m2!1spt-BR!2sbr" width="90%" height="590" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
        <footer>
            <div class="container_footer">
                
                <div class="col_footer">
                    <div class="redes_sociais width">
                        <h4>Redes Sociais</h4>
                        <ul>
                            <li>Facebook</li>
                            <li>Instagram</li>
                            <li>What'szap</li>
                            <li>Twitter</li>
                        </ul>
                    </div>
                     <div class="redes_sociais width">
                        <h4>Redes Sociais</h4>
                        <ul>
                            <li>Facebook</li>
                            <li>Instagram</li>
                            <li>What'szap</li>
                            <li>Twitter</li>
                        </ul>
                    </div>
                </div>
                <div class="col_footer">
                    <div class="redes_sociais width">
                        <h4>Redes Sociais</h4>
                        <ul>
                            <li>Facebook</li>
                            <li>Instagram</li>
                            <li>What'szap</li>
                            <li>Twitter</li>
                        </ul>
                    </div>
                    <div class="redes_sociais width">
                        <h4>Redes Sociais</h4>
                        <ul>
                            <li>Facebook</li>
                            <li>Instagram</li>
                            <li>What'szap</li>
                            <li>Twitter</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </footer>
        <div class="container_creditos">
            <p>Todos os Direitos Reservados © 2020 Desenvolvido Por @CoderMundi</p>
        </div>

        <!-- Cardapio Teste -->
        <!--
        <div class="container_cardapio2">
            <div class="col_comidas">

                    <div class="col_caard">
                        <div class="in1fo_card">
                        Espeto de Frango
                        </div>
                        <div class="price_card">
                            R$ 14,90
                        </div>
                    </div>
                    <div class="col_caard">
                        <div class="in1fo_card">
                        Espeto de Frango
                        </div>
                        <div class="price_card">
                            R$ 14,90
                        </div>
                    </div>
                    <div class="col_caard">
                        <div class="in1fo_card">
                        Espeto de Frango
                        </div>
                        <div class="price_card">
                            R$ 14,90
                        </div>
                    </div>

            </div>
            <div class="col_bebidas">

                    <div class="col_caard">
                        <div class="in1fo_card">
                        Espeto de Frango
                        </div>
                        <div class="price_card">
                            R$ 14,90
                        </div>
                    </div>
                    <div class="col_caard">
                        <div class="in1fo_card">
                        Espeto de Frango
                        </div>
                        <div class="price_card">
                            R$ 14,90
                        </div>
                    </div>
                    <div class="col_caard">
                        <div class="in1fo_card">
                        Espeto de Frango
                        </div>
                        <div class="price_card">
                            R$ 14,90
                        </div>
                    </div>
                    

            </div>
        </div> -->
        
</body>
</html>




    