<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Projeto Espeto Bar</title>
    <link rel="shortcut icon" href="espetoLogo.jpeg" type="image/x-icon">
</head>
<body>
        <nav>

                <div class="logo">
                    <img src="img/espetoLogo.jpeg" width="200px">
                </div>

                <ul class="nav-links">
                
                    <li><a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>HOME</a>
                    
                    </li>          
                    <li><a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>SERVIÇOS</a>
                    </li>          
                    <li><a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>MENU</a>
                    </li>          
                    <li><a href="/telacontato">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>CONTATO</a>
                    </li>          
                    
                </ul>
        </nav>
        <div class="mp_banner">
        <div>
            <video src="video/animação.mp4" autoplay="" muted="" > </video><div>
            <h2 class="titulo"><span>Esquina</span>  ESPETO BAR</h2>
        

        <div class="contaniner_bemvindo">
            <div class="col_bemVindo">
                <p class="BemVindo">Bem Vindo</p>
                <p class="subBemvindo">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                     sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </p>
                <p class="contentBemVindo">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                     sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                       Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <a href="#" class="saibaMais">Saiba Mais</a>
            </div>
            <div class="col_img_bemVindo">
                <img src="BannerPrincipal.jpeg" alt="" width="50%">
                <p>Espeto Bar</p>
                <section class="galeria">
                <img class="foto" src="img/29.jpeg" width="50%">
                <img class="foto" src="img/30.jpeg"  width="50%">
                <img class="foto" src="img/31.jpeg"  width="50%">
                <img class="foto" src="img/32.jpg"  width="50%">
                
                </section>
            </div>
        </div>
        <div class="banner01">
            <img src="img/banner.jpg" alt="" width="100%">
        </div>
        
        <div class="container_produtos">
            <div class="title_prod">
                <p>Conheça Nossos Produtos</p>
            </div>
            <div class="cards_produtos">
                <div class="card_produto">
                    <img src="img/produto.png" alt="" width="100%">
                    <p>Espeto Frango</p>
                </div>
                <div class="card_produto">
                    <img src="img/produto.png" alt="" width="100%">
                    <p>Espeto Frango</p>
                </div>
                <div class="card_produto">
                    <img src="img/produto.png" alt="" width="100%">
                    <p>Espeto Frango</p>
                </div>
                <div class="card_produto">
                    <img src="img/produto.png" alt="" width="100%">
                    <p>Espeto Frango</p>
                </div>           
            </div>
        </div>

        <div class="container_servicos">
            <div class="title_servicos">
                <p>Nossos Serviços</p>
            </div>
            <div class="container_serv">
                <div class="col_servico">
                    <img src="http://oldstory.ancorathemes.com/wp-content/uploads/2016/02/home2_features1-740x652.jpg" alt="" width="60%">
                    <div class="content_servico">
                        <p>> Melhores Bebidas</p>
                    </div>
                </div>
                <div class="col_servico">
                    <img src="http://oldstory.ancorathemes.com/wp-content/uploads/2016/02/home2_features2-740x652.jpg" alt="" width="60%">
                    <div class="content_servico">
                        <p>> Melhores Comidas</p>
                    </div>
                </div>
                <div class="col_servico">
                    <img src="http://oldstory.ancorathemes.com/wp-content/uploads/2016/02/home2_features3-740x652.jpg" alt="" width="60%">
                    <div class="content_servico">
                        <p>> Melhor Ambiente</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_cardapio">
            <div class="title_servicos">
                <p>Confira nosso Cardapio</p>
            </div>
            <div class="col_cardapios">
                <div class="col_card_food">
                    <div class="item_card">
                        <p>Espeto de Frango</p>
                        <p class="card_price">R$ 14,90</p>
                    </div>
                    <div class="item_card">
                        <p>Espeto de Frango</p>
                        <p class="card_price">R$ 14,90</p>
                    </div>
                    <div class="item_card">
                        <p>Espeto de Frango</p>
                        <p class="card_price">R$ 14,90</p>
                    </div>
                    <div class="item_card">
                        <p>Espeto de Frango</p>
                        <p class="card_price">R$ 14,90</p>
                    </div>
                    <div class="item_card">
                        <p>Espeto de Frango</p>
                        <p class="card_price">R$ 14,90</p>
                    </div>
                    <div class="item_card">
                        <p>Espeto de Frango</p>
                        <p class="card_price">R$ 14,90</p>
                    </div>
                    <div class="item_card">
                        <p>Espeto de Frango</p>
                        <p class="card_price">R$ 14,90</p>
                    </div>
                    <div class="item_card">
                        <p>Espeto de Frango</p>
                        <p class="card_price">R$ 14,90</p>
                    </div>

                </div>
                <div class="col_card_drink">
                    <div class="item_card">
                        <p>Espeto de Frango</p>
                        <p class="card_price">R$ 14,90</p>
                    </div>
                    <div class="item_card">
                        <p>Espeto de Frango</p>
                        <p class="card_price">R$ 14,90</p>
                    </div>
                    <div class="item_card">
                        <p>Espeto de Frango</p>
                        <p class="card_price">R$ 14,90</p>
                    </div>
                    <div class="item_card">
                        <p>Espeto de Frango</p>
                        <p class="card_price">R$ 14,90</p>
                    </div>
                    <div class="item_card">
                        <p>Espeto de Frango</p>
                        <p class="card_price">R$ 14,90</p>
                    </div>
                    <div class="item_card">
                        <p>Espeto de Frango</p>
                        <p class="card_price">R$ 14,90</p>
                    </div>
                    <div class="item_card">
                        <p>Espeto de Frango</p>
                        <p class="card_price">R$ 14,90</p>
                    </div>
                    <div class="item_card">
                        <p>Espeto de Frango</p>
                        <p class="card_price">R$ 14,90</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_localizacao">
            <div class="map">

            </div>
        </div>
        <footer>
            <div class="container_footer">
                <div class="redes_sociais">
                    <h4>Redes Sociais</h4>
                    <ul>
                        <li>Facebook</li>
                        <li>Instagram</li>
                        <li>What'szap</li>
                        <li>Twitter</li>
                    </ul>
                </div>
                <div class="localizacao">
                    <h4>Localização</h4>
                    <ul>
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                        <li>Item 4</li>
                    </ul>
                </div>
                <div class="itens_menu">
                    <h4>Menu</h4>
                    <ul>
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                        <li>Item 4</li>
                    </ul>
                </div>
                <div class="sobre">
                    <h4>Espeto Bar</h4>
                    <ul>
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                        <li>Item 4</li>
                    </ul>
                </div>
            </div>
        </footer>
        
</body>
</html>