@media screen and (max-width:1024px) {
    .contaniner_bemvindo{        
        flex-direction: column;
        align-items: center;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .col_bemVindo{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .cards_produtos{
        flex-direction: column;
    }
    .col_img_bemVindo{
        width: 100%;
        text-align: center;
    }
    .mp_banner h2{
        font-size: 3em;
        text-align: center;
    }
    .col_bemVindo{
        width: 100%;
    }
    .cards_produtos{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .col_servico{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .container_serv{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .container_localizacao{
        flex-direction: column;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .col_map_content{
        padding-top: 5%;
        padding-bottom: 15%;
    }
    
    

    /* Footer */

    .container_footer{
        flex-direction: column;
    }   
    
}